header{
     background-color: #7b5497;
     height: 180px;
}
#img{
    position: relative;
    left: 200px;
}

.input-icons i {
    
    color: gray;
    padding: 50px;
}
#icon{
 position: relative;
   right: 100px;
   bottom: 7px;
}
#text{
    text-align:center;
    height: 30px;
    border-radius: 15px;
    font-size: 20px;
    right: 200px;
    bottom: 20px;
    position: relative;
   
}
#header-strip ul {
    display: flex;
    justify-content: space-between;
    background-color: #7b5497;
    list-style-type: none;
    margin: 0px 30px 0px 30px;
    width: 80%;
    height: 90%;
   color: aqua;
   
}
a{
    text-decoration: none;
}


#header-strip li {
  display: flex;
  justify-content: space-around;
   
}
#maincontainer{
    display: flex;
    justify-content: space-between;
}
#img :active{
    width: auto;
    height: auto;
    margin-top: 20px;
}
